<h1>Welcome to Rock! Paper! Scissors!</h1>
<h2>How to play</h2>
<p>The game is played where players input the elements of the game into the search bar above: rock, paper and scissors.
Player 1 will input first (player1), followed by Player 2 (player2). The search bar should look like this:</p>
<p>http://localhost:4567/RPS/player1/player2</p>
  <p>The outcome of the game is determined by 3 simple rules:</p>
<ul>Rock wins against scissors</ul>
<ul>Scissors win against paper</ul>
<ul>Paper wins against rock</ul>
<img src="https://www.ads.org.uk/wp-content/uploads/thumb_6917_rockpaperscissors-580.jpg" alt="RPS.jpeg" width="390px" height="190px">
